html
	head
		title!=title
		style
			include styles.css
		script
			include script.js
		script(src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js")
	body
		div(id="overlay")
			div(id="iframeContainer",style="background:white;width:80%;height:80vh;top:25px;position:absolute;left:10%")
				button(style="right:0px;position:absolute",onclick="overlayOff()")!="X"
		span(id="sideNavButton",style="position:fixed;background:darkblue;font-size:20px;cursor:pointer",onclick="openNav()")!="&#9776; open"
		div(id="mySidenav",class="sidenav")
			a(href="javascript:void(0)",class="closebtn",onclick="closeNav()")!="&times;"
			a(href="/pupil")!="Elever"
			a(href="#")!="Personal"
			a(href="/skap")!="Skåp"
			a(href="#")!="Historia"
			a(href="#")!="Datorer"
			a(href="#")!="Platser"
			a(href="#")!="Misc"
			a(href="/logout")!="Logout"
		div(style="background:violet;")
			h1(style="margin:0")=message
		table(class="sortable")
			tr(style="background:gray")
				td!="Förnamn"
				td!="Efternamn"
				td!="Klass"
				td!="Ge Ut"
			each val in rows
				tr
					td!=val.firstname
					td!=val.lastname
					td!=(val.grade+val.classP)||""
					td
						form(action="/checkout" method="POST")
							input(type="hidden" name="table" value="locker")
							input(type="hidden" name="idItem" value=lockerNumb)
							input(type="hidden" name="idPupil" value=val.id)
							input(type="hidden" name="search" value=search)
							input(type="hidden" name="plan" value=plan)
							input(type="hidden" name="status" value=status)
							button(type="submit")!="Ge ut"