div(id="mySidenav",class="sidenav")
    a(href="javascript:void(0)",class="closebtn",onclick="closeNav()")!="&times;"
    a(href="/pupil")!="Elever"
    a!="Personal"
    a(href="/locker")!="Skåp"
    a(href="/lockerlayout")!="Skåp layout"
    a(href="/inventory")!="Inventarie"
    a(href="/place")!="Platser"
    a!="Misc"
    a(href="/history")!="Historia"
    a(href="/login")!="Logout"
div(style="border-bottom: 1px solid black;border-top: 1px solid black;;display:flex;background:mediumpurple;")
    span(id="sideNavButton",style="white-space: nowrap;;text-align:center;background:blue;font-size:3vh;cursor:pointer;vertical-align: baseline;padding-right:5px;padding-left:5px",onclick="openNav()")!="&#9776; Menu"
    h1(style="margin:0;font-size:4vh;width:80%")=title