div(id="topBar")
    div(id="sideNavButton",onclick="openNav()")
        div(style="pointer-events:none;margin:auto")!="&#9776; Menu"
        div(id="mySidenav",class="sidenav")
            a(href="/pupil")!="Elever"
            a(href="/pupil/add",class="sub")!="-L채gg till"
            //a!="Personal"
            a(href="/locker")!="Sk책p"
            a(href="/lockerlayout",class="sub")!="-Layout"
            a(href="/inventory")!="Inventarie"
            a(href="/inventory/add",class="sub")!="-L채gg till"
            a(href="/place")!="Platser"
            a(href="/place/add",class="sub")!="-L채gg till"
            //a!="Misc"
            a(href="/history")!="Historia"
            a(href="/login",style="margin-top:50px")!="Logga ut"
    h1(class="title")=title
    input(type="button",id="csvButton", value="Ladda ner CSV", onClick="exportTableToCSV('tabel.csv')")