div(id="topBar")
    div(id="sideNavButton",onclick="openNav()")
        div(style="pointer-events:none;margin:auto")!="&#9776; Menu"
        nav(id="mySidenav",class="sidenav")
            hr(class="solid")
            a(href="/pupil")!="Elever"
            a(href="/pupil/add",class="sub")!="&bull; Lägg till"
            hr(class="solid")
            a(href="/staff")!="Personal"
            a(href="/staff/add",class="sub")!="&bull; Lägg till"
            hr(class="solid")
            a(href="/locker")!="Skåp"
            a(href="/lockerlayout",class="sub")!="&bull; Layout"
            hr(class="solid")
            a(href="/inventory")!="Inventarie"
            a(href="/inventory/add",class="sub")!="&bull; Lägg till"
            hr(class="solid")
            a(href="/book",class="placeholder")!="Böcker"
            a(href="/book/add",class="sub placeholder")!="&bull; Lägg till"
            hr(class="solid")
            a(href="/place")!="Platser"
            a(href="/place/add",class="sub")!="&bull; Lägg till"
            a(href="/placeLayout",class="sub placeholder")!="&bull; Layout"
            hr(class="solid")
            a(href="/history")!="Historia"
            hr(class="solid")
            a(href="/login",style="margin-top:50%")!="Logga ut"
    h1(class="title")=title
    input(type="button",id="csvButton", value="Ladda ner CSV", onClick="exportTableToCSV('tabel.csv')")