center(style="margin-right:10px")
	if(historyPost)
		table(style="width:auto;max-width:50vw")
			tr
				td(colspan="2",style="text-align:center")!="Historia"
			form(action=historyPost,method="POST")
					tr
						td
							textarea(rows="5",cols="50",name="comment")
						td(class="history-form")
							select(style="margin-bottom:5px",name="type")
								option(value="comment")!="comment"
								option(value="invoice")!="invoice"
								option(value="inventory")!="inventory"
								option(value="locker")!="locker" 
							input(style="margin-bottom:15px",type="datetime-local",name="date")
							button(type="submit")!="Lägg till commentar"
	div(style="display:inline-flex;max-height:80vh;overflow:auto")
		div(class="tableFixHead",style=";overflow-y:visible")
			table(class="sortable blockTable")
				thead
					tr
						th!="Date"
						th!="Type"
						th!="Comment"
				if !history.length
					tr
						td
						td
						td
				each val in history
					tr
						td(style="white-space: nowrap;")!=val.date
						td!=val.type
						if val.link 
							td(style="white-space:pre-wrap")
								a(href=val.link)!=val.comment
						else
							td(style="white-space:pre-wrap")!=val.comment