html
	head
		title!=title
		style
			include styles.css
		script(type="text/javascript")
			include script.js
		script(type="text/javascript")
			include sorttable.js
	body
		include head.pug
		div(class="tableFixHead")
			table(class="sortable")
				thead
					tr
						th!="Table"
						th!="Owner"
						th!="Type"
						th!="Comment"
						th!="Date"
				each val in rows
					tr
						td!=val.owner
						
						if val.link
							td
								a(href=val.link)!=val.res
						else
							td!=val.res
						td!=val.type
						td!=val.comment
						td(style="white-space:nowrap;")!=val.date