center(style="margin-right:10px")
	if(historyPost)
		table(style="width:auto;max-width:50vw")
			tr
				td(colspan="2",style="text-align:center")!="Historia"
			form(action=historyPost,method="POST")
					tr
						td
							textarea(rows="3",cols="40",name="comment")
						td
							button(type="submit")!="Lägg till commentar"
	div(class="tableFixHead")
		table(class="sortable")
			thead
				tr
					th!="Date"
					th!="Type"
					th!="Comment"
			if !history.length
				tr
					td
					td
					td
			each val in history
				tr
					td!=val.date
					td!=val.type
					td(style="white-space:pre-wrap")!=val.comment