html
	head
		title!=title
		style
			include styles.css
		script
			include script.js
		script(src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js")
	body
		div(style="background:violet;")
			h1(style="margin:0")=message
		ul
			each val in list
				li!= val.namn+", "+val.plan
		form(action="",method="POST")
			input(type="text",name="search")
			button(type="submit")!="Search"
		h3= searchRes
		table(class="sortable")
			tr(style="background:gray")
				td!="Skåp"
				td!="Förnamn"
				td!="Efternamn"
				td!="Klass"
			each val in rows
				tr
					td!=val["number"]
					td!=val.firstname
					td!=val.lastname
					td!=(val.grade+val.classP)||""
		center
			img(src=img.src)