html
	head
		title!=title
		style
			include styles.css
		script(type="text/javascript")
			include script.js
		script(type="text/javascript")
			include sorttable.js
	body
		include head.pug
		div(class="top")
			div
				form(style="float:left;margin-right:10px;",action="",method="GET")
					input(id="inputSearch",type="text",name="search")
					input(type="hidden",name="table",value=table)
					button(type="submit")!="Search"
			b= rows.length + " Resuslts for: \"" + search + "\""
		div(class="tableFixHead")
			table(class="sortable")
				thead
					tr(style="background:gray")
						each valCols in cols
							th!=valCols
						th!="Give"
				each val in rows
					tr
						each valCols in cols
							td!=val[valCols]
						td
							form(action="",method="POST")
								input(type="hidden",name="table",value=table)
								input(type="hidden",name="owner_id",value=val.owner_id)
								if table==0
									input(type="hidden",name="historyOwner",value=`${val.Firstname} ${val.Lastname},${val.Klass}`)
								if table==3
									input(type="hidden",name="historyOwner",value=`${val.Name}`)
								if table==4
									input(type="hidden",name="historyOwner",value=`${val.firstname} ${val.lastname}, Personal`)
								button(type="submit")!="Ge till"
						