html
	head
		title!=title
		script(type="text/javascript")
			include script.js
		script(type="text/javascript")
			include sorttable.js
	body
		include head.pug
		div(class="top")
			div
				form(style="float:left;margin-right:10px;",action="/inventory",method="POST")
					input(id="inputSearch",type="text",name="search")
					button(type="submit")!="Search"
				button(onclick="location.href='/inventory/add'",style="margin-right:10px")!="Lägg till inventarie"
			b= rows.length + " Resuslts for: \"" + search + "\""
			div(style="float: right;margin-left: auto;")
				form(action="/inventoryAddType",method="POST")
					input(id="inputSearch",type="text",name="type")
					button(type="submit")!="Add Type"
		div(class="tableFixHead")
			table(class="sortable")
				thead
					tr
						th!="Type"
						th!="Brand"
						th!="Model"
						th!="Serial"
						th!="Status"
						th!="Owner"
				each val in rows
					tr
						td
							a(href="/inventory/"+val.id)!=val.type
						td!=val.brand
						td!=val.model
						td!=val.serial
						td!=val.status
						td!=val.owner