html
	head
		title!=title
		style
			include styles.css
		script(type="text/javascript")
			include script.js
		script(type="text/javascript")
			include sorttable.js
	body(class="main")
		include head.pug
		div(class="top")
			div
				form(style="float:left;margin-right:10px;",action="/inventory",method="POST")
					input(id="inputSearch",type="text",name="search",value=search)
					select(name="status")
						option(value="-1",selected=statusSelected["-1"])!="Status"
						- var cnt=0
						each val in statusInventory
							option(value=`${cnt}`,style=`font-weight:bold;background: ${statusInventory[cnt].color}`,selected=statusSelected[cnt])!=statusInventory[cnt].text
							-cnt++
					button(type="submit")!="Search"
				button(onclick="location.href='/inventory/add'",style="margin-right:10px")!="Lägg till inventarie"
			b= rows.length + " Resuslts for: \"" + search + "\""
		div(class="tableFixHead")
			table(class="sortable")
				thead
					tr
						th!="Type"
						th!="Brand"
						th!="Model"
						th!="Serial"
						th!="Comment"
						th!="Status"
						th!="Owner"
				each val in rows
					tr
						td
							a(href="/inventory/"+val.id)!=val.type
						td!=val.brand
						td!=val.model
						td!=val.serial
						td!=val.comment
						td(style=`text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;color:${statusInventory[val.status].color}`)!=statusInventory[val.status].text
						td
							a(href=val.link)!=val.res