html
	head
		title!=title
		style
			include styles.css
		script(type="text/javascript")
			include script.js
		script(type="text/javascript")
			include sorttable.js
	body
		include head.pug
		CENTER
			div(style="display:inline-block")
				div(style="display: flex;")
					form(action="/inventory/add",method="POST")
						table(style="width:auto;margin-right:10px")
							tr
								td!="Type"
								td
									input(list="datalist" name="type",required=true)
									datalist(id="datalist")
										each val in rows
											option!=val.name
							tr
								td!="Brand"
								td
									input(type="text", name="brand",value="")
							tr
								td!="Model"
								td
									input(type="text", name="model",value="",required=true)
							tr
								td!="Serial"
								td
									input(type="text", name="serial",value="")
							tr
								td!="Tag"
								td
									input(type="text", name="tag",value="")
							tr
								td!="Status"
								td
									select(name="status")
										- var cnt=0
										each val in statusInventory
											option(value=`${cnt}`)!=statusInventory[cnt].text
											- cnt++
							tr
								td!="Comment"
								td
									input(type="text", name="comment",value="")
							tr
								td
								td
									button(type="submit")!="Lägg Till"