html
	head
		title!=title
		style
			include styles.css
		script(type="text/javascript")
			include script.js
		script(type="text/javascript")
			include sorttable.js
	body
		include head.pug
		CENTER
			div(style="display:inline-block")
				div(style="display: flex;")
					form(action="/inventory/" + row.id,method="POST")
						table(style="width:auto;margin-right:10px")
							tr
								td!="Typ"
								td!=row.type
							tr
								td!="Brand"
								td
									input(type="text", name="brand",value=(row.brand))
							tr
								td!="Model"
								td
									input(type="text", name="model",value=(row.model))
							tr
								td!="Serial"
								td!=row.serial
							tr
								td!="Comment"
								td
									textarea(rows="3",cols="40",name="commentInventory")!=row.comment
							tr
								td!="Stycke"
								td
									input(type="number", name="count",value=(row.count))
							tr
								td!="Status"
								td
									select(name="status")
										- var cnt=0
										each val in statusInventory
											option(value=`${cnt}`,selected=statusSelected[cnt])!=statusInventory[cnt].text
											- cnt++
							tr
								td!="Owner"
								td
									a(href=link)!=owner
							tr
								td
								td
									button(type="submit")!="Spara"
					include historyTable
					table(style="width:auto;margin-right:10px")
						if row.owner
							tr
								td
									button!="Ta bort från ägare"
						else
							tr
								td
									button(onclick=`location.href='/inventory/${row.id}/give?table=0'`)!="Ge till elev"
							tr
								td
									button(onclick=`location.href='/inventory/${row.id}/give?table=4'`)!="Ge till personal"
							tr
								td
									button(onclick=`location.href='/inventory/${row.id}/give?table=3'`)!="Ge till plats"