html
	head
		title!=title
		style
			include styles.css
		script
			include script.js
		script(src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js")
	body
		div(class="top")
			include head.pug
			form(action="/skap",method="POST")
				input(id="inputSearch",type="text",name="search")
				select(name="plan")
					option(value="-1")!="Plan"
					option(value="1")!="Plan 1"
					option(value="2")!="Plan 2"
					option(value="3")!="Plan 3"
				select(name="status")
					option(value="-1")!="Status"
					option(value="0")!="Elev har skåp"
					option(value="1")!="Låst av skolan"
					option(value="2")!="Elev med eget lås"
					option(value="3")!="Skåp repareras"
					option(value="4")!="Multilås"
					option(value="5")!="Elev Med d. skåp"
					option(value="6")!="Andvänds ej"
					option(value="7")!="Utan nyckel elev innehåll"
				button(id="buttonSearch",type="submit")!="Search"
			h3= rows.length + " Resuslts for: \"" + search + "\""
		div(class="tableFixHead")
			table(class="sortable")
				thead
					tr
						th!="Skåp"
						th!="Plan"
						th!="Nycklar"
						th!="Status"
						th!="Förnamn"
						th!="Efternamn"
						th!="Klass"
						th!="Ge/Ta bort"
				each val in rows
					tr
						td
							a(href="/skap/"+val["number"])!=val["number"]
						td!=val.floor
						td!=val.keys
						td(style="text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000; ;color: "+statusLockerColor[val["status"]])!=statusLockerText[val["status"]]
						td
							a(href="/pupil/"+val["owner_id"])!=val["firstname"]
						td!=val.lastname
						td!=(val.grade+val.classP)||""
						td
							if val.firstname
								button(onclick="clearLocker('"+val.firstname+"','"+val.lastname+"',"+val["number"]+",\""+search+"\")")!="Ta bort"
							else
								button(onclick="location.href='/skap/"+val["number"]+"/geut?search="+search+"&plan="+planValue+"&status="+statusValue+"'")!="Ge bort"