html
	head
		title!=title
		style
			include styles.css
		script(type="text/javascript")
			include script.js
		script(type="text/javascript")
			include sorttable.js
	body
		include head.pug
		CENTER
			div(style="display:inline-block")
				div(style="display: flex;")
					form(action="/locker/" + row.number,method="POST")
						table(style="width:auto;margin-right:10px")
							tr
								td!="Skåp"
								td!=row.number
							tr
								td!="Nycklar"
								td
									input(type="number", name="keys",value=row.keys)
							tr
								td!="Status"
								td
									select(name="status")
										- var cnt=0
										each val in statusLockerText
											option(selected=statusSelected[cnt],value=`${cnt}`,style=`font-weight:bold;background: ${statusLockerColor[cnt]}`)!=statusLockerText[cnt]
											-cnt++
							tr
								td!="Plan"
								td!=row.floor
							tr
								td!="Ägare"
								td
									a(href= (row.firstname)? ("/pupil/"+row.owner_id): false )!=(row.firstname) ? (row.firstname+" "+row.lastname+", "+row.grade+row.classP) : row.owner_id+""
							tr
								td
								td
									button(type="submit")!="Spara"
					include historyTable
					- history=historyPupil
					- historyPost=null
					div
						table(style="margin-right:10px;width:100%;max-width:50vw")
							tr
								td(colspan="2",style="text-align:center")!="Historia Elev"
						include historyTable