html
	head
		title!=title
		style
			include styles.css
		script
			include script.js
		script(src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js")
	body
		include head.pug
		CENTER
			div(style="display:inline-block")
				div(style="display: flex;")
					form(action="/locker/" + row.number,method="POST")
						table(style="width:auto;margin-right:10px")
							tr
								td!="Skåp"
								td!=row.number
							tr
								td!="Nycklar"
								td
									input(type="number", name="keys",value=row.keys)
							tr
								td!="Status"
								td
									select(name="status")
										option(value="0",selected=statusSelected[0])!="Elev har skåp"
										option(value="1",selected=statusSelected[1])!="Låst av skolan"
										option(value="2",selected=statusSelected[2])!="Elev med eget lås"
										option(value="3",selected=statusSelected[3])!="Skåp repareras"
										option(value="4",selected=statusSelected[4])!="Multilås"
										option(value="5",selected=statusSelected[5])!="Elev Med d. skåp"
										option(value="6",selected=statusSelected[6])!="Andvänds ej"
										option(value="7",selected=statusSelected[7])!="Utan nyckel elev innehåll"
							tr
								td!="Plan"
								td!=row.floor
							tr
								td!="Ägare"
								td
									a(href= (row.firstname)? ("/pupil/"+row.owner_id): false )!=(row.firstname) ? (row.firstname+" "+row.lastname+", "+row.grade+row.classP) : row.owner_id+""
							tr
								td
								td
									button(type="submit")!="Spara"
					include historyTable