html
	head
		title!=title
		style
			include styles.css
		script(type="text/javascript")
			include script.js
		script(type="text/javascript")
			include sorttable.js
	body(class="main")
		include head.pug
		div(class="top")
			form(action="/locker",method="POST",style="margin-right:5px")
				input(id="inputSearch",type="text",name="search",value=search)
				select(name="plan")
					option(value="-1",selected=planSelected["-1"])!="Plan"
					option(value="1",selected=planSelected[1])!="Plan 1"
					option(value="2",selected=planSelected[2])!="Plan 2"
					option(value="3",selected=planSelected[3])!="Plan 3"
				select(name="status")
					option(value="-1",selected=statusSelected["-1"])!="Status"
					- var cnt=0
					each val in statusLocker
						option(value=`${cnt}`,style=`font-weight:bold;background: ${statusLocker[cnt].color}`,selected=statusSelected[cnt])!=statusLocker[cnt].text
						-cnt++
				button(id="buttonSearch",type="submit")!="Search"
			b= rows.length + " Resuslts for: \"" + search + "\""
		div(class="tableFixHead",id="hideAll")
			table(class="sortable")
				thead
					tr
						th!="Skåp"
						th!="Plan"
						th!="Nycklar"
						th!="Status"
						th!="Förnamn"
						th!="Efternamn"
						th!="Klass"
						th!="Komment Skåp"
						th!="Komment Elev"
						th!="Ge/Ta bort"
				tbody
					each val in rows
						tr
							td
								a(href="/locker/"+val["number"])!=val["number"]
							td!=val.floor
							td!=val.keys
							td(class="status",style="color:"+statusLocker[val["status"]].color)!=statusLocker[val["status"]].text
							td
								a(href="/pupil/"+val["locker_owner_id"])!=val["firstname"]
							if val.inschool==1
								td!=val.lastname
							else
								td(style="color:red")!=val.lastname
							td!=(val.grade+val.classP)||""
							td!=(val.locker_history)||""
							td!=(val.pupil_history)||""
							td
								if val.firstname
									button(onclick="clearLocker('"+val["locker_owner_id"]+"','"+(val.grade+val.classP)+"','"+val.firstname+"','"+val.lastname+"',"+val["number"]+",\""+search+"\")")!="Ta bort"
								else
									button(onclick="location.href='/locker/"+val["number"]+"/give?search="+search+"&plan="+planValue+"&status="+statusValue+"'")!="Ge bort"