html
	head
		title!=title
		style
			include styles.css
		script(type="text/javascript")
			include script.js
		script(type="text/javascript")
			include sorttable.js
	body(style="display:inline-block",onload=`lockerlayout()`)
		include head.pug
		div
			button(onclick=`location.href='/lockerlayout?tab=1'`)!="Plan 1"
			button(onclick=`location.href='/lockerlayout?tab=2'`)!="Plan 2"
			button(onclick=`location.href='/lockerlayout?tab=3'`)!="Plan 3"
		if tab==1
			div(class="grid-container")
				div(style=`font-size: 2vh;background:white;grid-row:15 /span 3;grid-column:2/span 3;text-align:center;vertical-align:middle`)
					p!="Källaren"
				- var cnt=0
				while cnt<13
					- var numb = 79+cnt,row= 4+ cnt,col=8
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<4
					- var numb = 78-cnt, row= 6 + cnt, col=10
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<6
					- var numb = 74-cnt, row= 11 + cnt, col=10
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<3
					- var numb = 65-cnt, row= 17, col=12+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<3
					- var numb = 49-cnt, row= 17, col=16+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<3
					- var numb = 42-cnt, row= 17, col=20+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<3
					- var numb = 68-cnt, row= 20, col=8+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<6
					- var numb = 62-cnt, row= 20, col=12+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<5
					- var numb = 56-cnt, row= 20, col=19+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<2
					- var numb = 51-cnt, row= 20, col=25+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<4
					- var numb = 46-cnt, row= 20, col=28+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<4
					- var numb = 39-cnt, row= 20, col=33+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<5
					- var numb = 35-cnt, row= 20, col=38+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<6
					- var numb = 243-cnt, row= 20, col=44+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<5
					- var numb = 5-cnt, row= 20, col=51+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<13
					- var numb = 18-cnt, row= 3+cnt, col=47
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<3
					- var numb = 20+cnt, row= 6+cnt, col=45
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<6
					- var numb = 23+cnt, row= 10+cnt, col=45
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<2
					- var numb = 30-cnt, row= 17, col=47+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<13
					- var numb = 114-cnt, row= 22+cnt, col=4
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<6
					- var numb = 92+cnt, row= 24+cnt, col=6
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt =0
				while cnt<4
					- var numb = 98+cnt, row= 31+cnt, col=6
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
		if tab==2
			div(class="grid-container")
				div(style=`font-size: 2vh;background:white;grid-row:15 /span 3;grid-column:2/span 5;text-align:center;vertical-align:middle`)
					p!="Huvudingång"
				- var cnt=0
				- cnt=0
				while cnt<2
					- var numb = 177+cnt, row= 20 , col=3+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<4
					- var numb = 179+cnt, row= 20 , col=6+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<7
					- var numb = 183+cnt, row= 20 , col=11+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<8
					- var numb = 190+cnt, row= 20 , col=19+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<5
					- var numb = 218+cnt, row= 20 , col=28+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<2
					- var numb = 223+cnt, row= 20 , col=34+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<2
					- var numb = 225+cnt, row= 20 , col=37+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<3
					- var numb = 227+cnt, row= 20 , col=40+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<5
					- var numb = 198+cnt, row= 18-cnt , col=26
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<6
					- var numb = 203+cnt, row= 12-cnt , col=26
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<4
					- var numb = 209+cnt, row= 9+cnt , col=28
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<5
					- var numb = 213+cnt, row= 14+cnt , col=28
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<8
					- var numb = 176-cnt, row= 23 , col=3+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<9
					- var numb = 168-cnt, row= 23 , col=12+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<5
					- var numb = 143-cnt, row= 23 , col=22+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<6
					- var numb = 138-cnt, row= 23 , col=28+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<10
					- var numb = 132-cnt, row= 23 , col=35+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<6
					- var numb = 122-cnt, row= 23 , col=46+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<2
					- var numb = 116-cnt, row= 23 , col=53+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<5
					- var numb = 144+cnt, row= 25+cnt , col=22
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<3
					- var numb = 149+cnt, row= 31+cnt , col=22
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<5
					- var numb = 159-cnt, row= 25+cnt , col=20
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<3
					- var numb = 154-cnt, row= 31+cnt , col=20
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
		if tab==3
			div(class="grid-container")
				div(style=`font-size: 2vh;background:white;grid-row:2 /span 3;grid-column:23/span 3;text-align:center;vertical-align:middle`)
					p!="Aulan"
				div(style=`font-size: 2vh;background:white;grid-row:12 /span 2;grid-column:52/span 2;text-align:center;vertical-align:middle`)
					p!="↩"
				div(style=`font-size: 2vh;background:white;grid-row:20 /span 2;grid-column:3/span 2;text-align:center;vertical-align:middle`)
					p!="↪"
				- var cnt=0
				- cnt=0
				while cnt<21
					- var numb = 386+cnt, row= 8, col=3+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<13
					- var numb = 385-cnt, row= 11, col=3+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<7
					- var numb = 367-cnt, row= 8, col=25+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<5
					- var numb = 372-cnt, row= 11, col=25+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<7
					- var numb = 360-cnt, row= 8, col=33+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<9
					- var numb = 353-cnt, row= 11, col=33+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<8
					- var numb = 338-cnt, row= 11, col=43+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<6
					- var numb = 344-cnt, row= 8, col=43+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<5
					- var numb = 313-cnt, row= 20, col=6+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<8
					- var numb = 308-cnt, row= 20, col=12+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<17
					- var numb = 330-cnt, row= 23, col=6+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<6
					- var numb = 292-cnt, row= 23, col=24+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<8
					- var numb = 300-cnt, row= 20, col=24+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<10
					- var numb = 286-cnt, row= 20, col=33+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<9
					- var numb = 276-cnt, row= 23, col=33+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<6
					- var numb = 267-cnt, row= 20, col=44+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<7
					- var numb = 261-cnt, row= 23, col=44+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<6
					- var numb = 249-cnt, row= 23, col=52+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++
				- cnt=0
				while cnt<5
					- var numb = 254-cnt, row= 20, col=52+cnt
					div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
					- cnt++