html
	head
		title!=title
		style
			include styles.css
		script(type="text/javascript")
			include script.js
		script(src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js")
	body
		include head.pug
		button(style="float:right",onclick="removePupil("+row.id+")")!="Radera Elev"
		CENTER
			div(style="display:inline-block")
				div(style="display: flex;")
					form(action="/pupil/" + row.id,method="POST")
						table(style="width:auto;margin-right:10px")
							tr
								td!="Förnamn"
								td
									input(type="text", name="firstname",value=(row.firstname))
							tr
								td!="Efternamn"
								td
									input(type="text", name="lastname",value=(row.lastname))
							tr
								td!="Årskurs"
								td
									input(type="text", name="grade",value=(row.grade))
							tr
								td!="Klass"
								td
									input(type="text", name="classP",value=(row.classP))
							tr
								td!="År"
								td!=(row.year)
							tr
								td!="Skåp"
								td
									a(href="/locker/"+row.number)!=row.number
							tr
								td
								td
									button(type="submit")!="Spara"
					table(style="width:auto;margin-right:10px")
						tr
							td(colspan="2")!="Inventarie"
						tr
							td!="Typ"
							td!="Serienummer"
					include historyTable