html
	head
		title!=title
		style
			include styles.css
		script
			include script.js
		script(src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js")
	body
		include head.pug
		div(class="top")
			div
				form(style="float:left;margin-right:10px",action="/pupil",method="POST")
					input(id="inputSearch",type="text",name="search")
					button(type="submit")!="Search"
				button(onclick="location.href='/pupil/add'",style="margin-right:10px")!="Lägg till Elev"
			b= rows.length + " Resuslts for: \"" + search + "\""
		div(class="tableFixHead")
			table(class="sortable")
				thead
					tr
						th!="Förnamn"
						th!="Efternamn"
						th!="Klass"
						th!="År"
				each val in rows
					tr
						td
							a(href="/pupil/"+val["id"])!=val["firstname"]
						td!=val.lastname
						td!=(val.grade+val.classP)||""
						td!=(val.year)