html
	head
		title!=title
		style
			include styles.css
		script(type="text/javascript")
			include script.js
		script(type="text/javascript")
			include sorttable.js
	body
		include head.pug
		div(class="top")
			div
				form(style="float:left;margin-right:10px",action="",method="POST")
					input(id="inputSearch",type="text",name="search",value=search)
					button(type="submit")!="Search"
				button(onclick="location.href='/pupil/add'",style="margin-right:10px")!="Lägg till Elev"
			div
				button(onclick="location.href='/pupil?inschool=0'",style="float:left;margin-right:10px")!="Graduated"
			div
				button(onclick="location.href='/pupil'",style="float:left;margin-right:10px")!="In school"
			div
				button(onclick="location.href='/pupil?nolocker=1'",style="float:left;margin-right:10px")!="Utan skåp"
			b= rows.length + " Resuslts for: \"" + search + "\""
		div(class="tableFixHead")
			table(class="sortable")
				thead
					tr
						th!="Förnamn"
						th!="Efternamn"
						th!="Klass"
						th!="År"
				each val in rows
					tr
						td
							a(href="/pupil/"+val["id"])!=val["firstname"]
						td!=val.lastname
						td!=(val.grade+val.classP)||""
						td!=(val.year)