html
	head
		title!=title
		style
			include styles.css
		script(type="text/javascript")
			include script.js
		script(type="text/javascript")
			include sorttable.js
	body
		include head.pug
		CENTER
			div(style="display:inline-block")
				div(class="info-tables")
					form(action="/staff/" + row.id,method="POST")
						table(style="width:auto;margin-right:10px")
							tr
								td!="Förnamn"
								td
									input(type="text", name="firstname",value=(row.firstname))
							tr
								td!="Efternamn"
								td
									input(type="text", name="lastname",value=(row.lastname))
							tr
								td!="Jobb"
								td
									input(type="text", name="job",value=(row.job))
							tr
								td!="Telefon"
								td
									input(type="text", name="phone",value=(row.phone))
							tr
								td!="Avdelning"
								td
									input(type="text", name="section",value=(row.section))
							tr
								td!="Mail"
								td
									input(type="text", name="mail",value=(row.mail))
							tr
								td!="Kommentar"
								td
									textarea(rows="3",cols="40",name="commentStaff")!=row.comment
							tr
								td
								td
									button(type="submit")!="Spara"
					include inventoryTable	
					include historyTable